/api/node_modules/
/api/package-lock.json
/api/.vscode/

/pwa/node_modules
/pwa/package-lock.json
/pwa/.vscode
/pwa/temp
/pwa/platforms
/pwa/plugins
/pwa/.sass-cache
/pwa/.ionic
/pwa/www
/pwa/.sourcemaps
/pwa/coverage
/pwa/.tmp
/pwa/.versions
/pwa/dist