/api/node_modules/
/api/package-lock.json
/api/.vscode/

/app/node_modules
/app/package-lock.json
/app/.vscode
/app/temp
/app/platforms
/app/plugins
/app/.sass-cache
/app/.ionic
/app/www
/app/.sourcemaps
/app/coverage
/app/.tmp
/app/.versions
/app/dist