page-login { 
    display: flex;
    justify-content: center;
    ion-list {
        max-width: 400px;
        #forgot-password {
            background-color: transparent;
        }
        #forgot-password:active{
            color: blue($color: #030749);
        }
    }
}
